<!doctype html>
<html amp lang="en">
<head>
  <meta charset="utf-8">
  <title>Нижний парк Липецк</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"> </script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600" rel="stylesheet">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/leaflet-ant-path" type="text/javascript"></script>

</head>
<body>
  <div class="container-fluid" id="app">

    <div class="row">

      <div class="modal" tabindex="-1" role="dialog" id="authModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Авторизация</h5>


            </div>
            <div class="modal-body">
              <p>Введите номер телефона, чтобы авторизироваться и получить уникальное предложение</p>
              <div class="input-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing">Номер</span>
                </div>
                <input type="text" id = "visitor_number" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                <button class="btn btn-success" v-on:click="next_dialog" type="button">Войти</button>
              </div>

            </div>

          </div>
        </div>
      </div>


      <div class="modal fade"  id="tinderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- {{ info.name }} -->
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="content" id="VueCard">

              <div class="vuecard">
                <div class="user">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">

                      <div class="carousel-item active" id="carousel">
                        <img class="d-block w-100"  :src="photo_paths.photo">
                      </div>



                      <div class="carousel-caption d-none d-md-block">
                        <h3>[[ info.name ]]</h3>

                        <p>Ограничение: [[ restriction.name ]]</p>
                      </div>
                    </div>


                  </div>

                  <div class="profile">
                    <p class="naration">Выбирай только то, что нравится, а мы построим маршрут для тебя <span style="font-size:20px">&#128540;</span></p>
                    <div class="local rate">

                      <span class="star"><span>Рейтинг</span><span class="material-icons star">star_rate</span>[[ info.rating ]]/5</span><span class="flame"><span>Экстрим</span><span class="material-icons flame">local_fire_department</span>[[ info.extreme ]]/5</span>

                    </div>

                  </div>
                </div>
              </div>

              <!-- <div class="buttons" v-if="counter<10"> -->
              <div class="buttons">

                <button  class="no" v-on:click="next_pic"><i class="material-icons">healing</i></button>

                <button  class="heart" v-on:click="next_pic"><i class="material-icons">done_outline</i></button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <div id = "map"></div>
    <button type="button" class="btn btn-success edit-way" v-on:click="clean_counter" data-toggle="modal" data-target="#tinderModal">Изменить маршрут</button>
    <button type="button" class="btn btn-success edit-way" data-toggle="modal" data-target="#authModal">Аут</button>


    <div class="row row-nav">
      <div class="col">
        <nav class="nav nav-pills nav-justified">

          <a class="nav-item nav-link active" href="/"><div class="row"><i class="material-icons">gesture</i></div><div class="row">Маршруты</div></a>


          <a class="nav-item nav-link" href="ivent"><div class="row"><i class="material-icons">sentiment_satisfied_alt</i></div><div class="row">Ивенты</div></a>


          <a class="nav-item nav-link" href="profile"><div class="row"><i class="material-icons">person</i></div><div class="row">Профиль</div></a>

        </nav>
      </div>

    </div>
  </div>


  <script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/map.js' %}" type = "module"></script>
</body>
</html>
